<!DOCTYPE html>
<!--   Last Update : April 30 6:09 pm -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="style.css"> -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">

<html>
<title>
    Data Insertion status
</title>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="check.js"></script> -->
    <script src="{{ url_for('static',filename='js/check.js')}}"></script>

</head>


<body>



    <br><br>

    <h2 style="margin-left: 20px;">{{msg}}</h2>

    <br><br><br>

    <div class="valUser">

        <form action="/userPage.html" onsubmit="return true" method="POST">
            <br>

            <button type="submit" value="Submit" class="submitBtn">Display Results</button>
            <br><br><br>

        </form>


        <div id="fnResult"></div><br>

    </div>












</body>





</html>